{% extends 'base.html' %}
{% block content %}
<br>
<div class="d-flex justify-content-center text-white">
  <h1>Welcome to {{ person.username }}'s Theater</h1>
</div>
<div class="d-flex justify-content-center">
  <img class="bg-warning mr-2 mt-1" src="https://i.ytimg.com/vi/MPV2METPeJU/maxresdefault.jpg" style="width: 250px; height: 250px; border-radius: 50%;" alt="" id="">
  <div class=" text-white" style=" margin-left: 5%;">
    <div>
      <br>
    </div>
    {% with followings=person.followings.all followers=person.followers.all %}
    
    <div class="d-flex" style="font-size: medium; font-weight: 600;" id="follow">
      <h4 style="margin-right: 20px;">following</h4>
      <h4>{{ followings|length }}</h4>
    </div>
    <div>
      <br>
    </div>
    <div class="d-flex" style="font-size: medium; font-weight: 600;" id="follow">
      <h4 style="margin-right: 33px;">follower</h4>
      <h4>{{ followers|length }}</h4>
    </div>
    {% endwith %}
    <div>
      <br>
    </div>
    <div class="text-white">
      {% if user != person %}
          {% if user in person.followers.all %}
              <a class="text-white" href="{% url 'accounts:follow' person.username %}" ><button><h4>언팔로우</h4></button></a>
          {% else %}
              <a class="text-white" href="{% url 'accounts:follow' person.username %}"><button><h4>팔로우</h4></button></a>
          {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<br>
<br>
<h3 class="text-center text-white">{{ person.username }}님의 영화목록</h3>
<br>

<div class="row d-flex justify-content-around"id="second">
  {% for movie in movies %}
  <div class="card col-2 ml-2 mr-2 mb-4 pr-1 pl-1 " style="" id="cards">
    <img src="https://image.tmdb.org/t/p/w780/{{ movie.poster_path }}" class=" card-img-top " id="card_img">

    <div class="card-body text-center" style="height: 50%; width: 100%; font-size: large; font-weight: 600;">
      <a href="{% url 'movies:detail' movie.pk %}" class="card-title d-flex justify-content-center text-center text-dark" style="font-size: x-large; font-weight: 700;">{{ movie.original_title }}</a>
    </div>
  </div>  
  {% endfor %}
</div>


{% endblock %}