
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--font-awesome-->
    <script src="https://kit.fontawesome.com/0bd832be18.js" crossorigin="anonymous"></script>
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <p>왓다</p>
    {% block content %}
    {% endblock %}
    

</body>
</html>

