{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% if request.resolver_match.url_name == 'create' %}
<h1 class="text-center">리뷰작성</h1>
{% else %}
<h1 class="text-center">수정하기</h1>
{% endif %}

<form style="width: 720px;" class="mx-auto" action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if request.resolver_match.url_name == 'create' %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">확인</button>
    </div>  
    {% else %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">수정하기</button>
    </div>
    {% endif %}

</form>
{% endblock %}