{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<a href="{% url 'movies:index' %}">뒤로가기</a>
<br>
<h2 class="text-info">{{ user.username }} 님을 위한 영화추천 BEST 10 !!</h2>

<table class="table table-striped text-center">
  <thead>
    <tr class="">
      <th scope="col">Number</th>
      <th scope="col">Title</th>
      <th scope="col">Poster</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
    {% for result in results %}
  <tbody>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ result.title }}</td>
    <td><img src="https://image.tmdb.org/t/p/w780/{{ result.poster_path }}" alt="poster" style="width:auto; height: 300px;"></td>
    <td class="genres">
    {% for genre in result.genre_ids.all %}
      <p class="badge badge-danger p-2">{{ genre.name }}</p><br>
      {% endfor %}
    </td>
  </tbody>
    {% endfor %}
</table>

{% endblock %}