{% extends 'base.html' %}

{% block content %}
<a href="{% url 'movies:detail' movie.pk %}"><뒤로가기</a>
<h1>영화 제목 : {{ movie.title }}</h1>

<div class="card text-center">
  <div class="card-header text-left">
    리뷰 제목 : {{ review.title }}<br>
    평점 : {{ review.rank }}
  </div>
  <div class="card-body text-left">
    <h5 class="card-title">리뷰 내용 : {{ review.content }}</h5>

  </div>
</div>


{% if movie.user == request.user %}
<div class="d-flex justify-content-between my-3">
<a href="{% url 'movies:movie_update' movie.pk review.pk %}" class="btn btn-primary">수정하기</a>
<form action="{% url 'movies:movie_delete' movie.pk review.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">삭제하기</button>
</form>
</div>
{% endif %}


{% if review.user == request.user %}
<div class="d-flex justify-content-between my-3">
<a href="{% url 'movies:update' movie.pk review.pk %}" class="btn btn-primary">수정하기</a>
<form action="{% url 'movies:delete' movie.pk review.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">삭제하기</button>
</form>
</div>
{% endif %}


<h3 class="my-3">댓글목록</h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">댓글 작성자</th>
      <th scope="col">댓글 내용</th>
      <th scope="col">댓글 삭제</th>
    </tr>
  </thead>
  {% for comment in comments %}
  <tbody>
    	<td>{{ comment.user.username }}</td>
    	<td>{{ comment.content }}</td>
      <td>{% if comment.user == request.user %}
      <form action="{% url 'movies:comments_delete' movie.pk review.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">x</button>
      </form>
      {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
<hr>

{% if user.is_authenticated %}
<form action="{% url 'movies:comments_create' movie.pk review.pk %}" method="POST">
	{% csrf_token %}
	{{ comment_form.as_p }}
	<button>댓글작성</button>
</form>
{% endif %}

{% endblock %}